div#editpage-specialchars{display:block;border:1px solid #c0c0c0;padding:.5em}div#editpage-specialchars a{background-color:#f9f9f9;border:1px solid #ddd;padding:1px 4px}textarea#wpTextbox1 + div#editpage-specialchars,div.wikiEditor-ui-clear + div#editpage-specialchars{border-top:none}
/*
     FILE ARCHIVED ON 04:13:29 Jan 08, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:57:06 Aug 23, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 169.746 (3)
  load_resource: 272.685
  esindex: 0.015
  RedisCDXSource: 22.144
  exclusion.robots: 0.215
  exclusion.robots.policy: 0.198
  PetaboxLoader3.resolve: 221.47 (2)
  LoadShardBlock: 149.026 (6)
  PetaboxLoader3.datanode: 115.634 (8)
*/